<!DOCTYPE HTML>
<html>

<head>
	<title>votre sites des operations banquaire</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<div class="header">
		<div class="wrap">
			<div class="header-bot">
				<div class="logo">
					<a href="index.html">
						<img src="images/BankImages/logo.jpeg" alt="">
					</a>
				</div>
				<div class="cart">
					<ul class="ph-no">
						<li class="item  first_item">
							<div class="item_html">
								<span class="text1">Rechercher une banque </span>
							</div>
						</li>
					</ul>
					<div id="top-search">
						<form method="get" action="#">
							<input type="text" name="s" class="input-search">
							<input type="submit" value="Search" id="submit">
						</form>
					</div>
					<div class="menu-main">
						<ul class="dc_css3_menu">
							<li class="active">
								<a th:href="@{/}">Home</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">espace vendeurs</a>
							</li>
							<li>
								<a href="#">espace admin</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="wrap">
			<div class="single">
				<div class="heading">
					<h3>ajoutez un operateur</h3>
					<p>Bienvenu dans notre sites d'opération banquaire
					   veuillez simplement renseignez les champs de données 
                       pour ajouter votre banque
                    </p>
				</div>
				<div class="section group">
					<div class="col span_2_of_contact">
						<div class="contact-form">
						<font color="red">[[${massageb}]]</font>

							<form method="post" th:action="@{/agenceadd}"  enctype="multipart/form-data" 
							th:object="${Agence}">
								<div>
					
									<span>
										<label>Nom</label>
									</span>
									<span>
										<input name="nom" type="text" class="textbox" required>
									</span>
									
									
									
									<span>
										<label>Email</label>
									</span>
									<span>
										<input name="email" type="text" class="textbox" required>
									</span>
									
										<span>
										<label>capital</label>
									</span>
									<span>
										<input name="capital" type="text" class="textbox" required>
									</span>
										<span>
										<label>taux retrait(%)</label>
									</span>
									<span>
										<input name="tauxretrait" type="text" class="textbox" required>
									</span>
                             	<span>
										<label> taux depot(%)</label>
									</span>
									<span>
										<input name="tauxdépot" type="text" class="textbox" required>
									</span>
									
								
								
								</div>
								<span>
										<label>Logo</label>
									</span>
									<span>
										<input name="logo" type="file" class="textbox" required>
									</span>
										
								<div>
									<span>
										<input type="submit" value="Submit">
									</span>
								</div>
							</form>
							</div>
					</div>
					
					<div class="clear"></div>
					<div class="map">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="footer-top">
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid twitts">
						<h3>Latest Tweets</h3>
						<p>
							<label>@Lorem ipsum</label>dolor sit amet, consectetur adipisicing elit.</p>
						<span>10 minutes ago</span>
						<p>
							<label>@consectetur</label>dolor sit amet, consectetur adipisicing elit.</p>
						<span>15 minutes ago</span>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid center-grid">
						<h3>Recent posts</h3>
						<ul>
							<li>
								<a href="#">eiusmod temporinc</a>
							</li>
							<li>
								<a href="#">adipisicing elit, sed</a>
							</li>
							<li>
								<a href="#">mod tempor incididunt</a>
							</li>
							<li>
								<a href="#">dipisicing elit, sed do</a>
							</li>
							<li>
								<a href="#">eiusmod temporinc</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid twitts">
						<h3>Our Company</h3>
						<div class="f_menu">
							<ul>
								<li>About your Company Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui</li>
								<li>Terms &amp; conditions Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="call_info">
						<p class="txt_3">Call us toll free:</p>
						<p class="txt_4">1 800 234 23456</p>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid twitts">
						<h3>Get in touch</h3>
						<ul class="follow_icon">
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon.png" alt="">
								</a>
							</li>
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon1.png" alt="">
								</a>
							</li>
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon2.png" alt="">
								</a>
							</li>
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon3.png" alt="">
								</a>
							</li>
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon4.png" alt="">
								</a>
							</li>
							<li>
								<a href="#" style="opacity: 1;">
									<img src="images/follow_icon5.png" alt="">
								</a>
							</li>
						</ul>
						<p>+1 111-111-1111</p>
						<span>
							<a href="mailto:info@example.com">support(at)carssale.com</a>
						</span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="wrap">
			<p>Copyright &copy; 2023 annonces de ventes de voiture. All Rights Reserved | Design by ousmane lagrange
				<a href="#"> Groupes 12</a>
			</p>
		</div>
	</div>
</body>

</html>